:root {
	--one: rgb(201,107,60);
	--two: rgb(240,168,112);
	--three: rgb(209,170,145);
	--four: rgb(204,234,230);
	--five:  rgb(144,156,146);
	--six:  rgb(41,49,86);
}


*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	color: var(--six);
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--two);
}

main {
	padding: 1em;
	max-width: 100%;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--four);
}

a[href]:not(:hover) {
	text-decoration: none;
}

header,
footer {
	padding: 1em;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */

header > a[href], a[href]:visited {
	color: var(--six);
}
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
	color: var(--six);
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: var(--three);
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--four);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--four);
	background-color: var(--four);
	color: var(--six);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--three);
	background-color: var(--two);
	color: var(--four);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: Arial, sans-serif
}

input,
textarea {
	border: 1px solid white;
}

button {
	border: 1px solid var(--six);
	background-color: var(--six);
	color: var(--four);
	cursor: pointer;
}

.post-list {
	display: flex;
	flex-flow: row wrap;
}

.post-container {
	margin-right: 10px;
}
.post-container > img{
	width: auto;
	height: 300px;
}

article.post-body > div{
	text-align: center;
}

article.post-body > img {
	width: 300px;
}

.title-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1200px;
}

.title-header > img {
	max-width: 30vh;
}

.title-header > .text-title-header {
	display: flex;
	flex-direction: column;
	margin: auto 10px auto 0;
}

.title-header > .text-title-header > h1 {
margin-top: 10px;
}

.title-header > .text-title-header > * {
	margin: 0 auto 0 0;
	text-align: left;
}

@media screen and (max-width:800px) {
	.title-header {
		display: flex;
		flex-direction: column-reverse;
	}
}


@media screen and (min-width:801px) {
	:root {
		font-size: 1.1rem;
	}	
	main {
		max-width: 1800px;
	}
}
