<footer>
    <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:inherit; clear:left; font:14px Helvetica,Arial,sans-serif; }
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://placeloveproject.us10.list-manage.com/subscribe/post?u=e3bf8223dc2d18533fbf8098f&amp;id=6d79387ad0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe to get weekly updates on new articles and interviews:</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e3bf8223dc2d18533fbf8098f_6d79387ad0" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
    <div class='left-side'>The Place/Love Project  
    <a href='https://www.instagram.com/placeloveproject/'>
    <i class="fab fa-instagram"></i></a> 
    <a href="mailto:agolio@tulane.edu"><i class="far fa-envelope"></i></a></div>
    <div class='right-side'>
    All Work ©️ AJ Golio, 2020
    </div>
</footer>
