<footer>
    The Place/Love Project  
    <a href='https://www.instagram.com/placeloveproject/'>
    <i class="fab fa-instagram"></i></a> 
    <a href="mailto:agolio@tulane.edu"><i class="far fa-envelope"></i></a>
</footer>
