<footer>
<iframe src="https://placeloveproject.substack.com/embed" width="480" height="320" frameborder="0" scrolling="no"></iframe>
    <div class='left-side'>The Place/Love Project  
    <a href='https://www.instagram.com/placeloveproject/'>
    <i class="fab fa-instagram"></i></a> 
    <a href="mailto:placeloveproject@gmail.com"><i class="far fa-envelope"></i></a></div>
    <div class='right-side'>
    All Work ©️ AJ Golio, 2020
    </div>
</footer>
