<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    <li>
      <a href="/"{% if '/' == page.url %} data-current="current item"{% endif %}>Interviews</a>
    </li>
    <li>
      <a href="/about"{% if '/about/' == page.url %} data-current="current item"{% endif %}>About</a>
    </li>
    <li>
      <a target='_blank' href="/static/files/manifesto.pdf"{% if '/manifesto/' == page.url %} data-current="current item"{% endif %}>Manifesto</a>
    </li>
     <li>
      <a href="/support"{% if '/support/' == page.url %} data-current="current item"{% endif %}>Support</a>
    </li>
  </ul>
</nav>
