<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    <li>
      <a href="/"{% if '/' == page.url %} data-current="current item"{% endif %}><img src='/static/files/interviews_tab.png'/></a>
    </li>
    <li>
      <a href="/about"{% if '/about/' == page.url %} data-current="current item"{% endif %}><img src='/static/files/about_tab.png'/></a>
    </li>
    <li>
      <a href='/manifesto' {% if '/manifesto/' == page.url %} data-current="current item"{% endif %}><img src='/static/files/manifesto_tab.png'/></a>
    </li>
     <li>
      <a href="/support"{% if '/support/' == page.url %} data-current="current item"{% endif %}><img src='/static/files/support_tab.png'/></a>
    </li>
  </ul>
</nav>
