<section class='post-list'>
	{% for post in postslist | reverse %}
		<a href="{{ post.url | url }}"><div class='post-container' {% if post.url == url %} data-current="current item"{% endif %}>
			<img src="{{ post.data.image }}"/>
		</div></a>
	{% endfor %}
</section>
