<section class='post-list'>
	{% for post in postslist | reverse %}
		<a href="{{ post.url | url }}"><div class='post-container' {% if post.url == url %} data-current="current item"{% endif %}>
			<img src="{{ post.data.image }}"/>
			<h4>{{post.data.title}}</h4>
			<p>{{post.data.subject}}</p>
		</div></a>
	{% endfor %}
</section>
