<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				<a href="{{ '/' | url }}"><img class='title-image' src='/static/files/title.png'></a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main class='about-page'>
			<h1>About the Blog:</h1>
            <p>The Place/Love Project is a space for the collective imagining of care for our communities, neighborhoods, and shared physical environments - our Places.</p>
			<p>Our goal is to provide thought-provoking reading material and resources on these subjects. We feature an ongoing series of <a href="/">interviews</a>, essays, and book recommendations on topics ranging from mutual aid to local cultural history to neighborhood bars and more.</p>
			<p>Feel free to reach out to us with any thoughts at <a href="mailto:agolio@tulane.edu">placeloveproject@gmail.com</a>. And to keep up with new Place/Love content, you can join our weekly mailing list by clicking <a href="https://placeloveproject.substack.com/welcome">here</a>.</p>
			<img class='collage-photo' src="/static/img/1kinloch_collage_no_2-1.jpg" />
			<p class='image-small-text'>Image: Kinloch Collage no. 2 (Pawpaw at Boaz Apartments) by Shaez Jamal (2020). From the collection<a href="http://www.shabezj.com/new-page">I came back to visit. When I arrived no one was home.</a> Read an interview with Shaez <a href="https://placeloveproject.org/interviews/on-preservation-and-the-archive/">here.</a></p>
			<h2>Why Place/Love?</h2>
			<p>The hope of the Place/Love Project is to document what we value in our communities, and to push the conversation forward on how we think about and engage with our physical and social environments. This is an effort to engage in collective, radical <a href="https://www.pps.org/article/what-is-placemaking"> Placemaking</a> that re-imagines our surroundings centered around those values.</p>
			<p>Places are more than just locations - they are also the people and cultures that populate these spaces. Places, and the communities that occupy them, face significant threats, from urban gentrification to the destruction of wilderness. Guided by a commitment to social justice, we believe there is an urgent need for intentional care for Place. We hope to amplify these stories, and in doing so, prompt critical thinking on what makes Places and communities stronger.</p>
			<p>To read a little more about the ideas and motivations behind Place/Love, check out <a href="https://placeloveproject.org/static/files/manifesto.pdf">this essay</a>.</p>
			<img src="/static/img/quote.png"/>
			<h2>About the Blog Creators</h2>
			<div class='creator-container'>
				<div class='creator'>
					<img src="/static/img/aj-photo.jpg"/>
					<p> <a href="https://ccc.tulane.edu/content/aj-golio" class='bio-title'>AJ Golio</a> (he/him; Creator and Co-Producer) studies displacement, gentrification, and cities as a Sociology PhD student in the City, Culture, and Community program at Tulane University, where is also a Mellon Community-Engaged Research Fellow. He has lived in Pittsburgh, New York City, and New Orleans, and considers himself a lover of Places both urban and wild</p>
				</div>
				<div class='creator'>
					<img src="/static/img/ava-photo.jpg"/>
					<p><span class='bio-title'>Ava McLaughlin Gagliardi</span> (she/her; Co-Producer) is studying politics, economics, and sociology at Fordham University in New York City. She has lived in Manhattan for the last three years and previously the Bronx for four. Some of the other Places she has made a home and is rooted deeply in are Dalkey, Ireland; Punta Gorda, Belize; and Wayne, Pennsylvania.</p>
				</div>
			</div>
			<p><a href="https://linktr.ee/liamparis" class='bio-title'>Liam Paris</a> (he/him) created this website! Forked from a template by Dan Urbanowicz.</p>
			<p><a href="https://www.instagram.com/mkg414/" class='bio-title'>MaryKate Glenn</a> (she/her) is an artist that drew the logo, lettering, and other artwork on the site.</p>
		
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
